# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VENV
# =========================

venv/
.env/

# =========================
# ENV FILES
# =========================

.env

# =========================
# STREAMLIT
# =========================

.streamlit/

# =========================
# DATA FILES
# =========================

data/*.csv

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# SYSTEM FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# LOG FILES
# =========================

*.log

# =========================
# SQLITE
# =========================

*.db
*.sqlite3

# =========================
# TEMP FILES
# =========================

temp/
cache/